<%- include partials/header.ejs %>
    <div class="container">
        <h1 class="text-danger">Hello <%= result.username %>! Welcome back!!!!</h1>

        <ul class="list-group">
            <li class="list-group-item"><a href="/update/<%= result.userId %>">Update your profile</a></li>
            <li class="list-group-item"><a href="/delete/<%= result.username %>">Delete your account</a></li>
        </ul>
    </div>
<%- include partials/footer.ejs %>
