<%- include partials/header.ejs %>
        <h1 style="color: tomato;">Hello <%= result.username %>! Welcome back!!!!</h1>

        <ul>
            <li><a href="/update/<%= result.userId %>">Update your profile</a></li>
            <li><a href="/delete/<%= result.username %>">Delete your account</a></li>
        </ul>
<%- include partials/footer.ejs %>
