<%- include partials/header.ejs %>
        <form class="form-horizontal col-md-5" action="/update/<%= result.userId %>" method="post" >
            <fieldset>
                <legend>Edit Account</legend>

                <div class="form-group">
                    <label for="email" class="col-lg-2 control-label">Email:</label>
                    <div class="col-lg-10">
                        <input type="email" class="form-control" name="email" value="<%= result.email %>">
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="col-lg-2 control-label">Username:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="username" value="<%= result.username %>">
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-lg-2 control-label">Password:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="password" value="<%= result.password %>">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Get back</button>
                    </div>
                </div>
            </fieldset>
        </form>
<%- include partials/footer.ejs %>
